{% extends 'master.html' %}

{% block titulo %} Busqueda de noticias por palabra clave {% endblock %}

{% block buscarUsuarioActiva %} uk-active {% endblock %}


{% block content %}
    <div class="uk-animation-slide-bottom">
        <form class="uk-form" id="formulario" method="post" action=''>{% csrf_token %}
            <fieldset>
                <legend>Busqueda de notícias por título</legend>
                <input type="text" name="titulo" id="titulo" placeholder="Introduzca la palabra a buscar"/>
                <br><br>
                <input class="uk-button" type='submit' value='Realizar Busqueda'/>
            </fieldset>
        </form>

        <hr>
        {% if temas != '' %}
            <h3> Noticias encontradas: {{ temas|length }}</h3>
            <dl class="uk-description-list-line">

                {% for row in temas %}
                    <dt>{{ row.titulo }}</dt>
                    <a href="{{ row.link }}" target="_blank"> Link a la noticia </a>
                {% endfor %}
            </dl>
        {% endif %}
    </div>
{% endblock %}