{% extends 'master.html' %}

{% block titulo %} Busqueda de eventos por fecha {% endblock %}


{% block buscarPeliculasActiva %} uk-active {% endblock %}

{% block paginaActiva %}
	<li class="uk-active"><span>Busqueda de eventos</span></li>
{% endblock %}
		    

{% block contenido %} 
    <div class="uk-animation-slide-bottom">
    	<form class="uk-form" id="formulario" method="post" action=''>{% csrf_token %}
    		<fieldset>
    			<legend>Busqueda de eventos</legend>
				<input type="text" name="year" id="id_year" placeholder="Anyo de Publicacion"/>
    			<BR><BR>

    			<input class="uk-button" type='submit' value='Realizar Busqueda'/>
    		</fieldset>
    	</form>
	    
	    <hr>

	    {% if eventos %}
		    <h3> Eventos:  {{ peliculas|length }}</h3>
		    <dl class="uk-description-list-line">

			{% for row in eventos %}
			    <dt>{{row.nombre}}</dt>
                <dt>{{row.fechaInicio}}</dt>
                <dt>{{row.precio}}</dt>
			{% endfor %}

			</dl>

		{% endif %}
	</div>
{% endblock %}